@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');


body {
background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
/*background sourced from https://webgradients.com/*/
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;

}

.uppercase {text-transform: uppercase}


.center {
    text-align: center;

}

/*Nav/header styling*/

.navbar {background-color: black;
    color: white;
    font-weight: 700;

}

.header {
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;

}

.sub-heading {
    position: relative;
    font-size:20px;
    text-align: center;
    color: #ff0dbf;
}


/*Shapes*/



.circle {
    position: absolute;
    width: 100%;
    height: 100vw;
    max-width: 200px;
    max-height: 200px;
    background: #000;
    border-radius: 50%;
    z-index: 10;
}

.background-circle {
    position: relative;
    top: 0px;
    width: 560px;
    height: 560px;
    z-index: 0;
    background-color: black;
    border-radius: 50%;
    margin: auto;



}


.pad {

    width: 50%;
    height: 50%;
    z-index: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
    cursor: pointer;
    border: 5px solid black;
    /*Opacity changes in JS based on the game being played*/
}

.flash {
    opacity: 1;
}

.one {
    border-top-left-radius: 275px;
    background-color: #FFF70B;
    float: left;
}

.two {
    border-top-right-radius: 275px;
    background-color: #19F0FF;
    float: right;
}

.three {
    border-bottom-left-radius: 275px;
    background-color: #F92323;
    float: left;
}

.four {
    border-bottom-right-radius: 275px;
    background-color: #23F955;
    float: right;
}

/*Buttons*/

/*Styling for modul button*/

.how-to {
    color: #0b0b0d;
    border: 5px solid #ff0dbf;
    background-color: #daddeb;
    font-weight: 600;
    border-radius: 25px;
    margin: 20px;
    cursor: pointer;
    font-size: 15px;
}

.how-to:hover {
    background-color: #ff0dbf;
    color: white;
    font-weight: 700;
}

#how-to-p {
    Background-color: #ff0dbf;
    border-radius: 2em 2em 2em 2em / 1em 1em 1em 1em;
    color: black;
    width: 100%;
    font-size: 14px;
}
/*-----------------------------------Pop up modaL activation*/

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  width: 60%;
  height: 50%;
  left: 25%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
  z-index: 10;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
   z-index: 10;
   width:100%;
   padding:5px;
}


.how-to-p, h2 {color: white;}

.close {color:black;
    font-weight: 700;
}

.hide {display:none;}

.start-button {
    width: 70px;
    height: 50px;
    background-color: green;
    border-radius: 70%;
    text-align: center;
    font-weight: 700;
    margin-top: 5%;
    text-transform: uppercase;
    border: 5px;
    border-color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    cursor: pointer;
    font-size: 12px;
}


.start-button:hover {
    background-color: #49fb35;
}

.begin-game-start {background-color: #49fb35;
margin-bottom: -10%;}

.begin-game-pads {opacity:1;}

#counter {
  width: 35%;
  height: 15%;
  text-align: center;
  margin-left: 50%;
  margin-top: -40%;
  color:#F50505;
  border: solid white;
}
/*-----------------------------------slider- using help from https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-right: 70%;
  margin-top: 20%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

input:checked + .slider {
  background-color: #F7135F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.strict{color:white}

/*Class for JS*/

.disabled { pointer-events: none; }

/*Footers*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin:0;
    color: white;
    background-color: black;
    height: 30px;
    font-weight: 600;

}