
body {background-image:url('https://pixabay.com/images/id-2695569/');
        height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size:20px;
    text-align: center;
     position: relative;
  width:100%;
  margin: auto;
 }
 

/*Nav/header styling*/
.header {
        position:fixed;
}

.sub-heading{
                position:fixed;
}


/*Shapes*/

.circle 
{
  position: absolute;
  top: 195px;
  left: 195px;
  width: 250px;
  height: 250px;
  background: #000;
  border-radius: 125px;
  z-index: 10;
}
  
  .background-circle {
  position: absolute;
  top:170px;
  width:640px;
  height: 640px;
  z-index:0;
  background-color: beige;
  border-radius: 310px;
}
 
  
.pad {
    
  width: 300px;
  height: 300px;
  float: left;
  z-index: 1;
  margin: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);  
  opacity: 0.6; /*Will be linked in JS to change*/
}



.one {
  border-top-left-radius: 300px;
  background-color:  #FFF70B;
}

.two {
  float: left;
  border-top-right-radius: 300px;
  background-color: #19F0FF;
  clear: right;
}

.three {
  float: left;
  border-bottom-left-radius: 300px;
  background-color: #F92323;
  clear: left;
}

.four {
  float: left;
  border-bottom-right-radius: 300px;
  background-color: #23F955;
  
}



/*Start button to begin the game*/
.button {color: #3efa6a;
        border-radius: 2px;
        z-index: 2;
        border: none;
        cursor: pointer;
        height: 100px;
        width: 100px;
}
        
 /*Styling for modul button*/     
.how-to {color: #0b0b0d;
         background-color:  #daddeb;
        font-weight: 600;
        border-radius: 25px;
        text-shadow: 2px 2px 8px #0b0b0d;
        margin:30px;
        text-align:center;
}


.center {text-align: center;
  ;
}

/*Footers*/
.footer {
        position:fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         text-align: center;
         font-size:10px;
         
}